/Java_inicios/HolaMundo/nbproject/private/
/Java_inicios/HolaMundo/build/
/Java_inicios/HolaMundo/dist/
/Java_inicios/UsoScanner/nbproject/private/
/Java_inicios/UsoScanner/build/
/Java_inicios/IMC/nbproject/private/
/Java_inicios/IMC/build/
/Java_inicios/IMC/dist/
/Java_inicios/UsoIf/nbproject/private/
/Java_inicios/UsoIf/build/
/Java_inicios/UsoIf/dist/
/Java_inicios/Ejercicio1/nbproject/private/
/Java_inicios/Ejercicio1/build/
/Java_inicios/Ejercicio1/dist/
